@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Kalendarz </h2>
<a asp-page="Create" class="btn btn-default">Dodaj</a>
<button onclick="getCalendarContent()">Kabuuum</button>
@if (Model != null && Model.Dates != null && Model.Dates.Count > 0)
{
    <div id="calendarContent">
      <partial name="_Calendar" model="@Model" />
    </div>
}
else
{
    <h3>Brak dat</h3>
}
    <script src="~/lib/aspnet/signalr/dist/browser/signalr.js"></script>